body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1c1d22;
  color: white;
}

h3 {
  font-size: x-large;
  font-weight: 300;
}

strong {
  font-weight: bold;
  font-size: xx-large;
  font-family: "IBM Plex Serif";
}

header {
  background-color: #1c1d22;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  background-color: #1e1e22;
  transition: left 0.3s ease;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: #CF1C5D;
  margin: 5px 0;
  border-radius: 2px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f6b723;
  padding-left: 3rem;
  padding-top: 3px;
  display: flex;
}

.logo .highlight {
  color: #cf1c5d;
}

.home-btn {
  background-color: #ff3388;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
}

.profile-card {
  background-color: #721c3ec0;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  width: 80%;
  border: 1px solid #c39738;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #F6B723;
}

.user-details {
  flex-grow: 1;
  padding: 0 1rem;
}

.edit-btn {
  background-color: #CF1C5D;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  color: #FFF9D9;
  font-size: 0.8rem;
}

.stats {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.section {
  margin: 2rem auto;
  width: 80%;
}

.movie-grid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.movie {
  text-align: center;
}

.movie img {
  width: 160px;
  height: 240px;
  border-radius: 6px;
}

.friends {
  display: flex;
  gap: 24px;
  margin-top: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.friend {
  text-align: center;
}

.friend img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid gold;
}

.side-menu.active {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s;
}

.side-menu ul li a:hover {
  color: #ff007f;
}

.menu-footer {
  text-align: center;
  padding: 20px 20px 60px 20px;
}

.menu-footer img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.menu-footer span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

.back-button img {
  width: 60px;
  height: auto;
}
